# Python Basic Real World 100 Programs
Author: Arshad Mehmood
Level: Beginner
Topics:
- Math
- List
- Tuple
- Dictionary

In [ ]:
# 1-- Given a=10, b=3, compute q (integer division), r (remainder), f (float division).
a=10
b=3
q = a // b  # // use for integer division dont show the the result in decimal
r = a % b   # % use for remainder
f = a / b   # / use for float division
print(q)  
print(r)
print(f)

3
1
3.3333333333333335

In [6]:
# program 2
x = 2
x = x - 1
x = x + 1
x = x * 2
x = x / 2
print(x)

2.0

In [13]:
#program 3
a = 5
b = 10
# a = b
b = a
# print(a)
print(b)

5

In [17]:
# program 4
price = 450
discount = 15 
d = 450 * 15 / 100
print(d)

67.5

In [23]:
#program 5
seconds = 36072
# hours = ?  1 hour = 3600 seconds
# mint = ?    1 mint = 60 seconds
# remaining seconds = ?
hours = seconds // 3600  
mint = (seconds % 3600) // 60
seconds = seconds % 60


print(hours)
print(mint)
print(seconds)

10
1
12

In [ ]:
#program 6 copnute 1st and last digit of a give
n=12345
first_digit = n // 10000
last_digit = n % 10
print(first_digit)
print(last_digit)

1
5

In [ ]:
# program 7
length = 12
width = 8
area = length * width
premiter = 2 * (length + width)
print(area)
print(premiter)

96
40

In [28]:
# program 8
celsius = 37
# fahrenheit = (celsius * 9/5) + 32 formula to convert celsius to fahrenheit
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)


fahrenheit = 98.6
celsius = (fahrenheit - 32) * 5/9
print(celsius)

98.6
37.0

In [29]:
#program 9
radius = 7
pi = 3.14
area = pi * radius * radius
print(area)

153.86

In [30]:
#program 10
a = 2
b = 5
c = 3

x = (a + b) * c
y = a+b*c
print(x)
print(y)

21
17

In [2]:
# program 11
salary = 50000
Tax =0.07
tax_amount = salary * Tax
net_salary = salary - tax_amount
print(tax_amount)
print(net_salary)

3500.0000000000005
46500.0

In [ ]:
# progrma 12  
x = 5
xsquared = x * x
xcubed = xsquared * x
print(xsquared)
print(xcubed)

25
125

In [ ]:
#program 13
total = 999
people = 6
x =total//people
print(x)

166.5

In [8]:
# program14
km =120
# meter=?   ----1km 1000 m
# centemeter = km * 1000 ---1m 100cm
meter=km*1000
centemeter = meter * 100
print(meter)    
print(centemeter)

120000
12000000

In [9]:
# program 15
p=3
t=2
r=5
x = (p * t * r) / 100
print(x)

0.3

In [11]:
# program16 average of 2 numbers
a=8
b=12
x = (a+b)/2
print(x)

10.0

In [ ]:
# program 17 
x = 10
x = x + (x * 0.1)
print(x)

11.0

In [ ]:
# Program 18  
x =25
x = x//2
x = x%2
print(x)

0

In [15]:
# program 19
a=9
b=4
x = a/b
print(x)

2.25

In [18]:
#program 20
a =100
discount = 10/100
final_price = a - (a * discount)
print(final_price)

90.0

# Part B  string

In [25]:
# program 21
s ="python"

print(s[0])
print(s[1])
print(s[5])
print(s[3])

p
y
n
h

In [30]:
# program 22
s ="Helo World"
x = s[4:10]
print(x)

 World

In [ ]:
#program 23 
s="  Data Science  "
print(s.strip())

Data Science

In [32]:
#program 24
s="BANANA"
print(s.lower())

banana

In [34]:
# program 25
s="paKisTaN"
print(s.upper())

s="paKisTaN"
print(s.lower())

PAKISTAN
pakistan

In [37]:
#program 26  
s="abc123"
a =s[0:3]
b =s[3:]
print(a)
print(b)

abc
123

In [38]:
#program 27
s="mississippi"
print(s.count('s'))

4

In [85]:
# program 28
s="one,two,three"
a = s.split(",")
print(a)

['one', 'two', 'three']

In [ ]:
# program 29
words=["I","love","Python"]
sentence =" ".join(words)
print(sentence)

I love Python

In [ ]:
#program 30
s="2026-01-20"
year,month,day = s.split("-")
print(year,month,day)

2026 01 20

In [ ]:
#program 31
s="hello"
a= "-".join(s)
print(a)

h- e- l- l- o

In [ ]:
# program 32
s="abcdef"
a=s[: :-1] # This reverses the string how
print(a)

fedcba

In [ ]:
# program 33
s="banana"
a =s.replace("na","NA")
print(a)

baNANA

In [ ]:
#program 34
s="Email: test@gmail.com"
a=(s.find("@"))
print(a)

11

In [ ]:
# program35
s="path/to/file.txt"
a = s.split("/")[-1]
print(a)

file.txt

In [ ]:
#program 36
s="file.txt"
a = s.split(".")[-1]
print(a)

txt

In [ ]:
#program 37
s="a,b,c,d"
a=s.split(",")[1]
print(a)

b

In [ ]:
# PROGRAM 38
s="Hello123"
a =s.isalnum()
print(a)

True

In [ ]:
#program 39
s="programming"
a=s[3:7]
print(a)

gram

In [ ]:
#program 40
first="Hazrat"
last="Bilal"
a = first+last
print(a)

HazratBilal

In [ ]:
# program 41
s="I like tea"
a=s.replace("tea",("coffee"))
print(a)

I like coffee

In [ ]:
# program42
s="aaaab"
a=s.count("a")
b=s.count("ab")
print(a)
print(b)

4
1

In [ ]:
# program 43
s="user_name"
a=s.replace("_","")
print(a)

username

In [ ]:
# program 44
s="one two  three"
a=s.split()
print(a)

['one', 'two', 'three']

In [ ]:
# program 45
s="0123456789"
a=s[0:10:2]
print(a)

02468

# Opertions on lists

In [ ]:
# program 46
lst=[10,20,30,40] 
a = lst[0]
b = lst[-1]
x = a+b
print(x)

50 50

In [4]:
#program 47 append 4 to the list
lst=[1,2,3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [ ]:
#program 48 
lst=[1,2,3]
lst.extend([4,5])
print(lst)

[1, 2, 3, 4, 5]

In [8]:
#program 49
lst=[5,6,7]
lst.insert(1,99)
print(lst)

[5, 99, 6, 7]

In [11]:
#program 50
lst=[1,2,3,2,2]
count=lst.count(2)
print(count)

3

In [ ]:
# program 51
lst=[9,8,7]
lst.reverse()
print(lst)

[7, 8, 9]

In [14]:
# Program 52
lst=[3,1,2]
lst.sort()
print(lst)

[1, 2, 3]

In [15]:
# program 53
lst=[3,1,2]
lst.sort(reverse=True)
print(lst)

[3, 2, 1]

In [19]:
# Program 54
lst=["a","b","c","d"]
x= lst[1:3]
print(x)

['b', 'c']

In [21]:
#program 55 sublist
lst=[10,20,30,40,50]
x=lst[2:5]
print(x)

[30, 40, 50]

In [ ]:
#program 56 
lst=[1,2,3,4]
lst2=lst*2
print(lst2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
# Program 57 
lst=["apple","banana","mango"]
lst[1]=("orange")
print(lst)

['apple', 'orange', 'mango']

In [29]:
#program 58
lst=[1,2,3,4]
lst.remove(3)
print(lst)

[1, 2, 4]

In [ ]:
#program 59 
lst=[1,2,3,4] # first element into last variable x
x=lst.pop(0)
print(x)

1

In [ ]:
# program 60 
lst=[1,2,3,4]
x=lst.pop(1)
print(x)

2

In [38]:
# program 61
lst=[10,20,30]
lst[1] = 999
print(lst)

[10, 999, 30]

In [ ]:
# program 62   get even-index elements using slicing.
lst=[1,2,3,4,5]
x=lst[0:5:2]
print(x)

[1, 3, 5]

In [53]:
#program 63 get odd-index elements using slicing.
lst=[1,2,3,4,5]
x=lst[1:5:2]
print(x)

[2, 4]

In [ ]:
#program 64 
lst=[1,2,3]
lst2=[4,5,6]
nested_lst=[lst,lst2]
print(nested_lst)

[[1, 2, 3], [4, 5, 6]]

In [56]:
#program 65
lst=[1,2,3]
lst2=lst
lst2[0]=999
lst2.copy()
print(lst2)

[999, 2, 3]

In [57]:
#program 66
lst=["a","b","c"]
print(",".join(lst))

a,b,c

In [62]:
#program 67 
lst=["a","b","c"]
print(",".join(lst))

a,b,c

In [ ]:
# 68 lst=[1,2,3,4]
lst=[1,2,3,4]
x=3 in lst
print(x)

True

In [ ]:
#69 Given lst=[1,2,3,4]
lst=[1,2,3,4]
x=lst.index(4)
print(x)



# 70. Given lst=[1,2,3,4]
lst=[1,2,3,4]
x=lst[0:2]+lst[2:4]
print(x)

3
[1, 2, 3, 4]

#  D) Tuples (71–80)

In [71]:
# 71 Given t=(10,20,30)
t=(10,20,30)
print(t[0])
print(t[-1])

# 72. Given t=("a","b","c","d"), slice ("b","c").
t=("a","b","c","d")
x=t[1:3]
print(x)

# 73. Given t=(1,2,3), do tuple unpacking into a,b,c.
t=(1,2,3)
a,b,c = t
print(a)
print(b)
print(c)


# 74. Given t=(5,10), swap into a,b via unpacking.
t=(5,10)
a,b = t
print(a)
print(b)

# 75. Given t=(1,2,3,2,2), count how many `2`s.
t=(1,2,3,2,2)
count = t.count(2)
print(count)

# 76. Convert lst=[1,2,3] into tuple t.
lst=[1,2,3]
t=tuple(lst)
print(t)

# 77. Convert t=(1,2,3) into list lst.
t=(1,2,3)
lst=list(t)
print(lst)

# 78. Given t=("Hazrat","Bilal"), create string "Hazrat Bilal" using join.
t=("Hazrat","Bilal")
s=" ".join(t)


# 79. Given t=(1,2,3), create t2=t+(4,5).
t=(1,2,3)
t2=t+(4,5)  
print(t2)

# 80. Given t=(1,2,3,4,5), get middle element(s) using indexing
t=(1,2,3,4,5)
x=t[2]
print(x)

10
30
('b', 'c')
1
2
3
5
10
3
(1, 2, 3)
[1, 2, 3]
(1, 2, 3, 4, 5)
3

# E) Dictionaries (81–100)

In [72]:
# 81. Create a dictionary for a student: name, age, cgpa (3 keys).
student = {
    "name" : "Ali",
    "age" : 20,
    "cgpa" : 3.5
}
print(student)

{'name': 'Ali', 'age': 20, 'cgpa': 3.5}

In [73]:
#82
d={"a":10,"b":20}
print(d["b"])

20

In [76]:
# 83. Given d={"a":10,"b":20}, update "b" to 999.
d={"a":10,"b":20}
d["b"]=999
print(d)

{'a': 10, 'b': 999}

In [77]:
#84
d={"a":10,"b":20}
d["c"]=30
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [81]:
# 85. Given d={"a":10,"b":20}, remove key "a" using .pop() into a variable
d={"a":10,"b":20}
x=d.pop("a")
print(x)

10

In [ ]:
#86 check city in list
d={"name":"Ali","city":"Quetta"}
x = "city" in d
print(x)

True

In [ ]:
#87 d={"x":1}, safely read missing key "y" with default 0 using .get()
d={"x":1}
print(d.get("y",0))

0

In [82]:
# 88 Given d={"math":80,"english":75,"cs":90}, compute total of all 3 using direct access.
d={"math":80,"english":75,"cs":90}
total = d["math"] + d["english"] + d["cs"]
print(total)

245

In [ ]:
#89 Given d={"p":5,"q":10}, make a tuple of items list: list(d.items()).
d={"p":5,"q":10}
print(list(d.items()))

[('p', 5), ('q', 10)]

In [84]:
#90 d={"a":1,"b":2}
d={"a":1,"b":2}
keys_list = list(d.keys())
value_list = list(d.values())
print(keys_list)
print(value_list)

['a', 'b']
[1, 2]

In [95]:
#91 d={"name":"Hazrat","role":"Developer"}, using dict
# d={"name":"Hazrat","role":"Developer"}
dict={
   "Name" : "Hazrat Bilal",
   "Role" : " Is Developer" 
}
value_list= list(dict.values())
# print(dict)
print(value_list)

['Hazrat Bilal', ' Is Developer']

In [ ]:
#92
# d={"a":1,"b":2,"c":3}
d={"a":1,"b":2,"c":3}
d2=d.copy()
d2["a"]=999
print(d2)
print(d)

{'a': 999, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

In [97]:
#93
d={"price":100,"tax":0.05}
final_price = d["price"] + (d["price"] * d["tax"])
print(final_price)

105.0

In [98]:
# 94
d={"first":"Hazrat","last":"Bilal"} 
full_name = d["first"] + " " + d["last"]
print(full_name)

Hazrat Bilal

In [99]:
#95
d={"items":[1,2,3]}
d["items"].append(4)
print(d)

{'items': [1, 2, 3, 4]}

In [100]:
#96 using tuple extract x y
d={"coords":(10,20)}
x,y=d["coords"]
print(x,y)

10 20

In [ ]:
# 97 d={"a":1,"b":2}
d={"a":1,"b":2}
d2={1:"a",2:"b"}
print(d2)

{1: 'a', 2: 'b'}

In [103]:
# 98 
d={"a":10,"b":20,"c":30}
a=d.get("c")
print(a)

30

In [104]:
#99
d={"username":"abc","password":"123"}
d["password"]="***"
print(d)

{'username': 'abc', 'password': '***'}

In [106]:
#100
d={"full_name":"Hazrat Bilal"}
fisrt_name, last_name = d["full_name"].split(" ")
print(fisrt_name, last_name)

Hazrat Bilal